<!-- Calendar -->


  <div class="get-month">
    <button type="button" id="prev-month-button" class="action-button"><i class="fas fa-caret-square-left"></i></button>
    <h3 id="this-month"> {{currentMonth}} </h3>
    <button type="button" id="next-month-button" class="action-button"><i class="fas fa-caret-square-right"></i></button>
  </div>

  <div class="day-name">
    <div class="day-label">Sun</div>
    <div class="day-label">Mon</div>
    <div class="day-label">Tue</div>
    <div class="day-label">Wed</div>
    <div class="day-label">Thu</div>
    <div class="day-label">Fri</div>
    <div class="day-label">Sat</div>
  </div>

  <div class="get-day" id="get-day">
    {{#each calendarCard}}
      {{> calendarCard}}
    {{/each}}
  </div>
