<div class="day-container" data-index="{{index}}" id="day-container">
  <div class="days" id="days">
    {{dayNum}}
  </div>

  {{#each postInfo}}
  <div class="posts">
    <a href='/listEvents/{{index}}'>{{{this}}}</a>
  </div>
  {{/each}}

</div>
