<div class="day-container" id="day-container">
  <div class="days" id="days">
    {{dayNum}}
  </div>

  {{#each postInfo}}
  <div class="posts">
    <a href='/listEvents/{{this.index}}'>{{this.info}}</a>
  </div>
  {{/each}}
</div>
