<header>
  <!--  Add picture here if we want could be like a calendar or something
  <div class="header-image-container">
    <img src="benny.jpg" alt="Benny logo">
  </div>
  -->
  <h1 class="site-title"><a href="#">Event Manager</a></h1>

</header>
