<header>

  <div class="header-image-container">
      <a href="/"><img src="/calendarIMG.png" alt="Benny logo"></a>
  </div>
  <h1 class="site-title"><a href="/">Event Calendar</a></h1>

</header>
