<!-- <div id="modal-backdrop" class="hidden"></div> -->
<div id="add-event-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Add an Event</h3>
      <button type="button" id="modal-close" class="modal-hide-button">&times;</button>
    </div>

    <div class="modal-body">

      <div class="post-input-element">
        <label for="event-title-input">Event Title</label>
        <input type="text" id="event-title-input"></input>
      </div>

      <div class="post-input-element">
        <label for="event-description-input">Event Description</label>
        <input type="text" id="event-description-input"></input>
      </div>

      <div class="post-input-element">
        <label for="event-photo-input">Photo URL</label>
        <input type="text" id="event-photo-input">
      </div>

      <div class="post-input-element">
        <label for="event-time-input">Time</label>
        <input type="number" id="event-time-input">
      </div>

      <div class="post-input-element">
        <label for="event-day-input">Day</label>
        <input type="text" id="event-day-input">
      </div>

      <div class="post-input-element">
        <label for="event-month-input">Month</label>
        <input type="text" id="event-month-input">
      </div>


    </div>

    <div class="modal-footer">
      <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
      <button type="button" id="modal-accept" class="action-button">Create Event</button>
    </div>

  </div>
</div>
