{{> header}}

<section id="add-container">
  <!-- <button type="button" id="add-something-button" class="action-button">Add an Event</button> -->
  <span class="add-container-option" id='add-event-button'>Add an Event</span>
  <span class="add-container-option" id='list-events-button'>See a List of All Events</span>
</section>


  <!-- End Add Event -->
  <div class="calendar">
    {{> calendar}}
  </div>

  <section id="posts">

    {{#each events}}
        {{> eventCard}}
    {{/each}}

  </section>

  <!-- End Posts -->


<!-- This is present at bottom add hidden in CSS unless add-something-button is pressed -->

{{> modal}}
