{{> header}}

<div class="return-calendar-container">
  <a href='/' class="return-calendar">Back to Calendar Page</a>
</div>
<section id="posts">

  {{#each events}}
      {{> eventCard}}
  {{/each}}

</section>
