{{> header}}

<div class="return-calendar-container">
  <a href='/' class="return-calendar">Back to Calendar Page</a>
</div>
<section id="posts">
  {{#each this}}
      {{#if this.description}} <!-- description is unique not sure why it would only work like this but it did -->
        {{> eventCard}}
      {{/if}}
  {{/each}}
  {{#each events}}
      {{#if this.description}}
        {{> eventCard}}
      {{/if}}
  {{/each}}

</section>
