body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #7CD69F;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  background-color: #3C7BEB;
  text-align: left;
  /* border-bottom: 2px solid #7B0100; */
  padding: 10px;
}

.header-image-container {
  height: 10%;
  width: 10%;
}
header img {
  height: 100%;
  width: 100%;
}

header a {
  color: white;
}


/****************404***************/
.error-container {
  text-align: center;
  font-size: 50px;
  padding-top: 70px;
  padding-left: 30px;
}

.error-container h2 {
  font-size: 100px;
  margin: 20px 10px 10px 10px;
}

.error-container h3 {
  font-size: 30px;
  margin: 10px;
}

/*************end*404**************/

/**********************************/

.site-title {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: 100;
  margin: 0 0 0 20px;
  padding: 30px;
}

.site-title a:hover {
  text-decoration: none;
}

#add-container {
  padding: 10px;
  padding-top: 40px;
  background-color: #7CD69F;
  align-items: center;
  color: white;
  text-align: center;
  /* border-bottom: 2px solid #7B0100; */
}


/**********************************/
.content {
  display: flex;

}

.action-button {
  font-size: 20px;
  color: black;
  padding: 10px;
  background-color: #BDFFFF;
  border: 1.5px solid black;
  border-radius: 5px;
  font-weight: lighter;
  cursor: pointer;
  margin-bottom: 10px;
}

.action-button:hover {
  background-color: rgb(252, 253, 73);
  border-color: black;
  color: black;
}

.post {
  display: inline-block;
  vertical-align: top;
  height: auto;

  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1.5px solid black;
  border-radius: 3px;
  background-color: #3C7BEB;
}


.post-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.post-image-container img {
  max-height: 240px;
  max-width: 300px;
}

.post-info-container {
  width: 100%;
  margin: 0px;
  font-size: auto;
  text-align: center;
  color: white;
}

.post-interaction-container {
  display: inline-block;
  border: 1.5px solid white;
  border-radius: 3px;
  box-shadow: 0px 0px 10px black;
  margin: 0px;
  padding-right: 10px;
  width: 100%;
  text-align: center;
  color: white;
}



.filter-input {
  width: 100%;
  margin-left: 10px;
}

#interaction-name {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #7B0100;
}

#interaction-interest {
  font-size: 18px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #7B0100;
}

.reservation-list {
  font-size: 15px;
  text-align: center;
  padding-right: 10px;
}
 /*
  * End Post stuff
  */




/*
 * Modal stuff - From bennys list don't know if popup for create event or have it already there
 */

/* #modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
} */

#add-event-modal {
  position: fixed;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1010;
  overflow: scroll;
}

.hidden {
  display: none;
}

.modal-dialog {
  width: auto;
  max-width: 600px;
  min-width: 350px;
  min-height: 300px;
  margin: 40px auto;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
}

.modal-header {
  position: relative;
  padding: 10px 20px;
  background-color: #7CD69F;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}

.modal-header h3 {
  margin: 0;
  font-size: 28px;
}

#modal-close {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 24px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-body {
  padding: 20px;
  background-color: #3C7BEB;
}

.post-input-element {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin: 10px 0;
}

.post-input-element > label {
  font-weight: 600;
  flex: 1 75px;
  margin-right: 10px;
  color: white;
}

.post-input-element input {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-input-element select {
  flex: 6 200px;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #aaa;
}

.post-fieldset {
  flex: 1 100%;
  border: 1px solid #ababab;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 10px 20px 10px;
  background-color: #3C7BEB;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#modal-cancel,
#modal-accept {
  margin-right: 20px;
}

#modal-cancel {
  color: #333;
  background-color: #fff;
}

#modal-cancel:hover {
  background-color: #eee;
}

.return-calendar-container {
  text-align: center;
  color: red;
  background-color: #7CD69F;
  padding-top: 40px;
  padding-bottom: 10px;
}

.return-calendar {
  color: black;
  font-weight: 600;
  font-size: 20px;
}

.return-calendar:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

/****************************************
**************** Calendar ***************
****************************************/
.calendar {
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  margin: 20px;
}

.get-month {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  background-color: #3C7BEB;
  padding: 10px;
  text-align: center;
  font-size:20px;
}

.get-day {
  background-color: #3C7BEB;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.day-container {
  background-color: white;
  border: 2px solid black;
  text-align: center;
  border-radius: 3px;
}

.days {
  background-color: #BDFFFF;
  text-decoration-color: white;
  font-weight: bold;
  border-bottom: 2px solid #1DA1DB;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.posts {
  background-color: white;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.day-name {
  background-color: #3C7BEB;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(7, 2fr);
  grid-gap: 10px;

}

.day-label {
  background-color: #FF5D5D;
  border: 2px solid black;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  font-weight: 600;
}

#prev-month-button {
  background-color: #3C7BEB;
  border: 0px;
  color: white;
  margin: 20px;
}

#next-month-button {
  background-color: #3C7BEB;
  border: 0px;
  color: white;
  margin: 20px;
}

.add-container-option {
    padding-left: 100px;
    padding-right: 100px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

.add-container-option:hover {
  text-decoration: underline;
  cursor: pointer;
  color: red;
}
/****************************************
**************** End Calendar ***********
****************************************/
